.accordion {
  /* height: 100%; */
  width: 100%;
  /* max-width: 800px;
  min-width: 300px; */
}

.accordion .header {
  background-color: aliceblue;

  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between; align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;

  transition: background-color 50ms ease-in-out;
}
.accordion .header:hover {
  cursor: pointer;
  background-color: rgba(240, 248, 255, 0.95);
}

.accordion .header::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  width: 0;
  height: 100%;

  background-color: rgba(128, 128, 128, 0.75);
  transition: all 75ms ease-in-out;
}
.accordion .header:hover::before {
  width: 5px;
}

.accordion .header[aria-hidden="false"]::before {
  width: 4px;
}
.accordion .header[aria-hidden="false"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}


/* header */
.accordion .header h2 {
  color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
  font-size: .8rem;
}
.accordion .header .info {
  display: flex;  justify-content: center; align-items: center;
  gap: 1rem;
}
.accordion .header .info h5 {
  color: rgba(0, 0, 0, 0.75);
}
.accordion .header .info .icon:hover {
  cursor: pointer;
  filter: brightness(0) invert(0.3);
}


/* body */
.accordion .body {
  background-color: aliceblue;
  backdrop-filter: blur(5px);
  padding-inline: 1rem;

  height: 0;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}
.accordion .body[aria-hidden="false"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: fit-content;

  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.accordion .body p {
  color: rgba(0, 0, 0, 0.70);
}

/* .accordion .body .content {
  visibility: hidden;
  transition: all 0ms 200ms ease-in-out;
}
.accordion .body .content[aria-hidden="false"] {
  visibility: visible;
} */