.carousel {
  /* responsive size */
  height: 300px;
  width: 100%;
  max-width: 800px;
  min-width: 200px;
}
.carousel {
  display: grid;
  grid-template-areas: 'left content right'
                       '. pagination .';
  grid-template-columns: 40px auto 40px;
  gap: 1rem;
}
.carousel .pagination {
  grid-area: pagination;
}
.carousel .left {
  grid-area: left;
}
.carousel .content {
  grid-area: content;
}
.carousel .right {
  grid-area: right;
}


/* pagination */
.carousel .pagination {
  display: flex;  justify-content: center;  align-items: center;
}

/* buttons */
.carousel .left, .right {
  display: flex;  justify-content: center;  align-items: center;
}
.button {
  width: 22px;
  height: 22px;
  object-fit: contain;

  padding: 0.5rem;
  /* background-color: rgba(0, 0, 0, 0.15); */
  backdrop-filter: blur(50%);
}
.button:hover {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(75%);
  cursor: pointer;
}
.buttonLeft {
  transform: scaleX(-1);
}

/* content */
.carousel .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .content .item {
  display: none;
}
.carousel .content .item[aria-selected="true"] {
  display: block;
}




/* MEDIA QUERYS */
@media (max-width: 1200px) {        /* OFICIAL */
  
}
@media (max-width: 992px) {         /* OFICIAL */
  
}
@media (max-width: 768px) {         /* OFICIAL */

}
@media (max-width: 576px) {         /* OFICIAL */
  .carousel {
    grid-template-areas: 'content content content'
                         'left pagination right';
    grid-template-columns: 40px auto 40px;
  }
}

/* personal */
@media (max-width: 500px) {
  
}