.backgroundHero {
    background-image: url('../../public/images/background-2.jpg');
    /* background-image: url('../../public/images/background.png'); */
    /* background-image: url('../../public/images/4.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: fi2xed; */

    height: 500px;
}


/* Content */
.hero {
    display: flex;
    justify-content: center;
    height: 100%;
}


.content {
    padding-inline: 3rem;
    flex-basis: 70rem;

    display: flex;
    justify-content: flex-start;
}

.content .presentation {
    height: 70%;
    width: 65%;
    min-width: 425px;

    background-color: rgba(25, 25, 25, 0.25);
    backdrop-filter: blur(10px);

    box-shadow: 0 1px 8px rgb(0 0 0 / 0.2);
    margin-top: 3rem;

    transition: all 200ms ease-in-out;
}
.content .presentation:hover {
    background-color: rgba(25, 25, 25, 0.3);
}


.content .title {
    margin: 4rem 0 0 4rem;
}
.content .title h1 {
    color: whitesmoke;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.content .title h1 .spanBlack {
    color: black;
}

.content .title h1 .spanUnderline {
    position: relative;
}
.content .title h1 .spanUnderline::after {
    content: "";
    position: absolute;
    display: block;

    height: 4px;
    width: 100%;
    background-color: rgb(122, 171, 177);
    
    margin-left: 0.2rem;
}



/* PRESENTATION */
.content .presentation {
    display: grid;
    grid-template-areas: 'picture description';
    grid-template-columns: auto minmax(10%, 70%);
}


.presentation .picture {
    padding: 0 2rem;

    grid-area: picture;
    display: flex;
    justify-content: center;
}


.presentation .description {
    padding: 0 1rem;
    
    grid-area: description;
    padding: 3rem 0.5rem;

    display: grid;
    grid-template-areas: 'top'
                         'bottom';
    grid-template-rows: 200px auto;
}
.presentation .description .top {
    grid-area: top;
}
.presentation .description .bottom {
    grid-area: bottom;
    width: 85%;

    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.5rem;
    color: rgba(255, 255, 255, 0.50);
}
.presentation .description .bottom .locationIcon {
    filter: brightness(0) invert(1);
}

.presentation .description .descriptionTitle h1 {
    margin-bottom: 1rem;
}
.presentation .description .divider {
    margin: 2rem 0rem;
    display: flex;
    justify-content: flex-start;
}
.presentation .description .divider .dividerLine {
    background-color: rgba(255, 255, 255, 0.50);
    height: 2px;
    width: 75%;
}

.presentation .description .socials {
    margin: 2rem 0rem;
    display: flex;
    justify-content: flex-start;
}
.presentation .description .socials .icons {
    width: 75%;

    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.presentation .description .socials .icons li:hover {
    filter: brightness(0) invert(1);
}

.presentation .description .location {
    height: 100%;
}



/* MEDIA QUERYS */
@media (max-width: 1200px) {
    .content .title h1 {
        font-size: 2.5rem;
    }
}
@media (max-width: 992px) {
    .content .title h1 {
        font-size: 2.2rem;
    }
    .presentation .description .socials .icons {
        gap: 1rem;
    }
}
@media (max-width: 768px) {
    .content .title h1 {
        font-size: 2rem;
    }
    .presentation .description .bottom {
        padding: 1rem 0rem;
        justify-content: flex-start;
        align-items: center;
    }
}

/* extra */
@media (max-width: 650px) {
    .content .title {
        display: none;
    }
}

@media (max-width: 576px) {
}


/* personalized [hard-coded] */
@media (max-width: 424px) {
    .content .presentation {
        min-width: 350px;
        grid-template-columns: 200px minmax(10%, 70%);
    }
    .content .description .top .descriptionTitle h1 {
        font-size: 1.4rem;
    }

    .presentation .description .socials .icons {
        margin: 2rem 0rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .presentation .picture {
        place-items: start;
        margin-top: 3rem;
    }
    .presentation .description .bottom {
        margin-left: -10rem;
    }
}
@media (max-width: 360px) {
    .content .presentation {
        min-width: 325px;
        grid-template-columns: 190px minmax(10%, 70%);
    }
    .content .description .top .descriptionTitle h1 {
        font-size: 1.3rem;
    }
}