.items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1rem;
}

.items .item {
  width: 5px;
  aspect-ratio: 1/1;

  background-color: grey;
}

.items .item[aria-selected="true"] {
  background-color: rgba(0, 0, 0, 0.85);
}