.projects {
  background-color: aliceblue;

  display: flex;
  justify-content: center;
  height: 500px;
}
.projectsContent {
  padding-inline: 3rem;
  flex-basis: 70rem;

  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: palegoldenrod; */
}